// import custom colors
@use 'colors';

// import font-weights
@use 'font-weights' as font;

// General mixin for light and dark modes
@mixin theme($bg, $txt, $box, $selection, $btn) {
  .background {
    background-color: $bg;
  }

  .text {
    color: $txt;
  }

  .link-box {
    background-color: $box;
  }

  .theme__switch-color {
    background-color: $txt;
  }

  .border {    
    border: 1px solid $txt;
  }

  .selected {
    background-color: $selection;
  }

  .checkout_btn {
    background-color: $btn;
  }
}

// Body reset
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
}

// This the main wrapper of the project (Not the body) because we need it to change themes (dark/light modes).
.wrapper {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden; // For development only
  padding: clamp(1.2rem, 2.2vw, 2rem) clamp(1.2rem, 3.2vw, 3rem);
  padding-bottom: 5rem;
}

// Link reset
a {
  color: colors.$white;
  display: block;
  text-decoration: none;
  width: fit-content;
}

// unordered list reset
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// light theme
.light {
  @include theme(colors.$white, colors.$black, colors.$yellow, rgba(57, 62, 70, .3), #222831);

  .text {
    font-weight: font.$medium;
  }

  .theme__switch-color {
    transform: translateX(100%) !important;
  }
}

// dark theme
.dark {
  @include theme(colors.$black, colors.$white, colors.$grey, colors.$grey, colors.$grey);
}

.non-draggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// Primary title style
.title {
  margin: 0 {
    top: clamp(3rem, 7vw, 5rem);
  };
  width: fit-content;

  &__text {
    font-size: clamp(1rem, 1.8vw, 1.5rem);
    font-weight: font.$medium;
    margin: 0;
  }

  &__line {
    border-width: clamp(2px, .5vw, 3px) !important;
    margin: 0 {
      top: clamp(.2rem, .5vw, .4rem);
    };
    width: 50%;
  }
}

// custom checkbox style

.checkbox {
  border-width: 2px !important;
  border-radius: 4px;
  cursor: pointer;
  height: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3rem;
  position: relative;
  z-index: 20;

  &__icon {
    font-size: 1rem !important;

    &--visibility-false {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .checkbox {
    display: none;
  }
}
