// import custom colors
@use 'colors';

// import font-weights
@use 'font-weights' as font;

.navbar {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(3rem, 8vw, 6rem);

  &__logo {
    color: colors.$yellow;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: font.$semi-bold;
    letter-spacing: clamp(.5rem, 1.2vw, 1rem);
  }
}

// <ul> that has the primary links
.nav_list {
  align-items: flex-end;
  display: flex;
  gap: clamp(1rem, 2.2vw, 2rem);
}

// <li> wrapping the primary links
.nav_item {
  align-items: center;
  display: flex;
  height: fit-content;
  position: relative;
  z-index: 0;

  &__link {
    font-size: clamp(.6rem, 1.5vw, .9rem);
    letter-spacing: .3rem;
  }

  &__box { // <div> behind the link
    height: 100%;
    position: absolute;
    right: -.25rem;
    width: 60%;
    z-index: -1;
  }
}

// theme change button
.theme {
  align-items: center;
  border-radius: 10rem;
  border-width: 2px !important;
  cursor: pointer;
  height: clamp(.6rem, 1.3vw, .9rem);
  padding: .2rem;
  width: clamp(1.3rem, 2.6vw, 1.9rem);

  &__switch {
    border-radius: 50%;
    height: 100%;
    transform: translateX(0);
    transition: transform 500ms;
    width: 50%;
  }
}
