@use "font-weights" as fw;
@use "colors";

.wrapper {
  p, h1 {
    margin: 0;
  }
}

.product {
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr auto auto 1fr;

  &__info {
    display: grid;
    gap: clamp(1rem, 3vw, 1rem);

    &__title {
      font-size: clamp(1.5rem, 4.5vw, 2.5rem);
      font-weight: fw.$extra-bold !important;
      line-height: 100%;
    }

    &__description {
      font-size: clamp(.9rem, 3.2vw, 1.2rem);
      font-weight: fw.$light;
      text-align: justify;

      &--weight-regular {
        font-weight: fw.$regular !important;
      }
    }

    &__customization {
      display: flex;
      gap: 2rem;
    }

    &__button {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;

      &__buy, &__cart {
        border-radius: 12px !important;
        font-family: "Montserrat", Arial, Verdana, sans-serif !important;
        font-weight: fw.$regular !important;
        text-transform: none !important;
        transition: box-shadow 500ms !important;
        width: 11rem;
      }
      &__buy:hover, &__cart:hover {
        box-shadow: 5px 5px 30px rgba(0, 0, 0, .4) !important;
      }

      &__buy {
        background-color: colors.$blue !important;
      }

      &__cart {
        background-color: transparent !important;
        display: flex;
        gap: .5rem;
      }

      &__cart--theme-light {
        border-width: 2px !important;
        font-weight: fw.$medium !important;
      }
    }
  }

  &__imgbox {
    display: flex;
    gap: 2.5rem;
    height: 100%;
    width: 100%;
    position: relative;

    &__img {
      border-radius: 2rem;
      object-fit: cover;
    }
  }

  &__carousal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;

    &__slide {
      border-radius: 50%;
      cursor: pointer;
      height: .8rem;
      opacity: .3;
      width: .8rem;

      &--active {
        opacity: 1 !important;
      }
    }
  }

  &__hr {
    margin: 0;
  }
}

@media (max-width: 980px) {
  .product {
    gap: 2rem;
  }
}

@media (max-width: 950px) {
  .product {
    grid-template-columns: 1fr;

    &__info {
      &__button {
        gap: 1rem;

        &__buy, &__cart {
          width: 100%;
          font-size: .8rem;
        }

        &__cart {
          &__icon {
            font-size: 1.1rem;
          }
        }
      }
    }

    &__imgbox {
      height: 50vw;
    }

    &__carousal {
      flex-direction: row;
    }
  }
}

.stock {
  background-color: colors.$red;
  color: colors.$white;
  font-size: .7rem;
  padding: .25rem .6rem;
  width: fit-content;
}

.share {
  align-items: center;
  display: flex;
  gap: 1rem;

  &__copy {
    background-color: colors.$grey;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    opacity: .5;
    padding: .5rem;
    width: fit-content;

    &--click:active {
      opacity: 1;
    }

    &__icon {
      color: colors.$white;
    }
  }
  &__icon {
    cursor: pointer;
    font-size: clamp(2rem, 4.5vw, 2.5rem);
  }
}
